<section>
  <div class="post-list">
    {{#if posts}}
        <h3>{{post-info}} Posts</h3> 
        <hr />
    {{else}}
      <h3>No Posts to Display</h3>
      <hr />
    {{/if}}
    
    {{#if posts}}
      {{#each posts as |post|}}
          {{> post-info post-info post}}
      {{/each}}
    {{/if}}
   </div>
</section>